@import "./normalize.scss";
@import "./mixins";
@import "./variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "TTHoves", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

//header

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
    .header__logo {
      img {
      }
    }
    .header__links {
      padding-right: 130px;
      ul {
        display: flex;
        flex-direction: row;
        gap: 60px;
        .header__link {
          color: $headersColor;
        }
        .active {
          border-top: 1px solid $headersColor;
          border-bottom: 1px solid $headersColor;
          padding: 3px 0;
        }
      }
    }
  }
}
//page1
.slider {
  padding-top: 32px;
  padding-bottom: 120px;
  .slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .slider__left {
      display: flex;
      flex-direction: column;
      padding-bottom: 107px;
      gap: 92px;
      .slider__title {
        display: flex;
        flex-direction: column;

        .project {
          color: $greyText;
          font-weight: 300;
          font-size: 64px;
          line-height: 64px;
        }
        .nurtown {
          color: $headersColor;
          font-weight: 700;
          font-size: 64px;
          line-height: 64px;
          margin-top: -8px;
        }
      }
      .slider__btns {
        .btn-slider {
          padding: 15px 14px 13px 14px;
          background: #ffffff;
          border: 1px solid #f2f2f2;
          cursor: pointer;
          transition: background 0.15s ease 0s;
          &:active {
            background: #f9f9f9;
          }
        }
      }
      .slider__counts {
        margin-top: 2px;
        color: $greyText;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        gap: 25px;
      }
    }
  }
  .slider__right {
    background-image: url("../images/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 770px;
    height: 829px;
    position: relative;
    ul {
      .slide {
        // background-image: url("../images/main.jpg");
      }
    }
    .btn-link {
      position: absolute;
      bottom: 0;
      left: 0;
      @include btn-main;
    }
  }
}

//page2
.company {
  .company-container {
    display: flex;
    gap: 30px;
    background-color: #fbfbfb;
    .company__images-lineOne {
      position: relative;
      margin-left: 100px;
      padding-top: 30px;
      .outFrame {
        position: absolute;
        bottom: -56px;
        left: 0;
      }
    }
    .company__images-lineTwo {
      img {
        padding-top: 60px;
      }
    }
    .company-text {
      margin-right: 70px;
      h3 {
        padding-top: 30px;
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        color: $greyText;
      }
      .text {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        color: #000000;
      }
      .btn-company {
        @include btn-main;
      }
    }
  }
}

//page3 tasks
.tasks {
  padding-bottom: 122px;
  .tasks-container {
    h3 {
      padding-top: 150px;
      @include title;
      color: $greyText;
    }
    .tasks__list {
      display: flex;
      margin-top: 62px;
      .task-one {
        display: flex;
        align-items: center;
        margin-right: 143px;
        img {
          max-width: 120px;
          max-height: 140px;
        }
        .task-one--desc {
          padding-left: 30px;
          font-size: 22px;
          line-height: 36px;
          color: $headersColor;
          flex-basis: 300px;

          // width: 310px;
        }
      }
      .task-two {
        display: flex;
        align-items: center;

        img {
          max-width: 120px;
          max-height: 140px;
        }
        .task-two--desc {
          padding-left: 30px;
          font-size: 22px;
          line-height: 36px;
          color: $headersColor;
        }
      }
    }
  }
}

//page4 projects
.projects {
  padding-bottom: 220px;
  .projects-container {
    h3 {
      @include title;
      padding-bottom: 60px;
    }
    .projects__images {
      display: flex;
      flex-direction: column;
      .images-lineOne {
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
        .main-image {
          position: relative;
          .overlay {
            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: rgba(0, 0, 0, 0.8);
              z-index: 2;
            }
          }
          .image-title {
            position: absolute;
            top: 48px;
            left: 79px;
            z-index: 3;
            color: #ffffff;
            h4 {
              font-weight: 700;
              font-size: 64px;
              line-height: 64px;
              text-transform: uppercase;
              margin-bottom: 14px;
            }
            .projects__link {
              font-size: 12px;
              line-height: 12px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              &:after {
                content: "";
                position: absolute;
                width: 17px;
                height: 8px;
                margin-left: 15px;
                margin-top: 5px;
                background-image: url("../images/projects/link.svg");
              }
            }
          }
        }
      }
      .images-lineTwo {
        display: flex;
        gap: 30px;
      }
    }
    .projects__btn {
      @include btn-dark;
      float: right;
      margin-top: 30px;
    }
  }
}

//page5 connect
.connect {
  .connect-container {
    h3 {
    }
  }
}
